<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
  </head>
  <body>
    <h1>Please register to the website</h1>
    <form method="post">
      <input type="text" name="name" placeholder="Umar" id="" />
      <input type="email" name="email" placeholder="example@gmail.com" id="" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
